/* stylelint-disable selector-class-pattern */
.product-list-page {
    min-height: 700px;

    .ds-sdk-product-item {
        &:hover {
            border: none;
        }
    }

    .ds-widgets_results {
        >:nth-child(1) {
            height: auto;
        }

        >:nth-child(2) {
            display: none;
        }

        >:last-child {
            height: auto;
        }
    }
}

.product-list-page .ds-sdk-product-item__image img {
    aspect-ratio: 185 / 230;
    object-fit: contain;
}

@media (width >=750px) {
    .product-list-page {
        min-height: auto;
    }
}